@import "tailwindcss";

:root {
  --background: #fdf9ff;
  --foreground: #1f1f3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: #f3e8ff;
  --color-card-foreground: #1f1f3d;
  --color-muted: #ede9fe;
  --color-muted-foreground: #312e81;
  --color-border: #d8b4fe;
  --color-input: #c4b5fd;
  --color-ring: #7c3aed;
  --color-primary: #7c3aed;
  --color-primary-foreground: #ffffff;
  --color-secondary: #e9d5ff;
  --color-secondary-foreground: #3b0764;
  --color-accent: #f5f3ff;
  --color-accent-foreground: #2e1065;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #2f1212;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf9ff;
    --foreground: #1f1f3d;
    --color-card: #f3e8ff;
    --color-card-foreground: #1f1f3d;
    --color-muted: #ede9fe;
    --color-muted-foreground: #312e81;
    --color-border: #d8b4fe;
    --color-input: #c4b5fd;
    --color-ring: #7c3aed;
    --color-primary: #7c3aed;
    --color-primary-foreground: #ffffff;
    --color-secondary: #e9d5ff;
    --color-secondary-foreground: #3b0764;
    --color-accent: #f5f3ff;
    --color-accent-foreground: #2e1065;
    --color-destructive: #ef4444;
    --color-destructive-foreground: #2f1212;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
